*.pyc
*.pyo
*.db
.DS_Store
.coverage
local_settings.py
local_secret.py
/static/*
!/static/js
/static/js/*
!/static/js/*-local.js
!/static/css
/static/css/*
!/static/css/*-local.css
!/static/css/custom.css
